.organisation-feed {
  margin-bottom: 1rem;

  .feed-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;

    @media (min-width: @screen-xs-max) {
      grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
      display: flex;
      justify-content: space-between;
      max-height: 12.5rem;
      margin-bottom: 2rem;
      overflow: hidden;
    }

    .grid-image {
      flex-basis: 45%;
      width: auto;

      img {
        margin: 0 0 auto 0;
      }
    }

    .grid-info {
      flex-basis: 55%;
      padding: 0 1rem !important;
    }
  }
}
