.collapse-accordion {
  &-trigger {
    &:extend(h4);

    text-align: left;
    width: 100%;
    background-color: @gray-ultralight;
    outline: 0.1rem solid @gray-lighter;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    margin: 0;
    transition: 0.3s background-color ease-in-out,
      0.3s outline-color ease-in-out;

    .fa {
      transition: 0.3s transform ease-in-out;
      font-weight: bold;
      vertical-align: middle;
    }

    &.collapsed {
      .fa {
        transform: rotateX(180deg);
      }
    }

    &:hover,
    &:focus {
      background-color: @gray-light;
      color: white;
      outline-color: @gray-light;
    }
  }

  &-panel {
    outline: 0.1rem solid @gray-lighter;
    padding: 1rem;
    font-size: 1.4rem;
    margin-top: 0.2rem;

    p {
      margin-bottom: 0.9rem;
    }
  }

  &-dark {
    .collapse-accordion-trigger {
      background-color: @gray-light;
      outline-color: @gray-light;
      color: white;

      &:hover,
      &:focus {
        background-color: @gray;
        outline-color: @gray;
      }
    }
  }

  &-no-outline {
    .collapse-accordion {
      &-trigger {
        outline: none;
      }
      &-panel {
        outline: none;
      }
    }
  }
}
